<form
  role="form"
  class="kuiVerticalRhythm"
>
  <div class="kuiBar">
    <div class="kuiBarSection">
      <div class="kuiSearchInput fullWidth">
        <div class="kuiSearchInput__icon kuiIcon fa-search"></div>
        <input
          class="kuiSearchInput__input"
          input-focus
          ng-model="filter"
          ng-attr-placeholder="请输入查询关键字"
          ng-keydown="finder.filterKeyDown($event)"
          name="filter"
          type="text"
          autocomplete="off"
        >
      </div>
    </div>

    <div class="kuiBarSection">
      <p class="kuiText kuiSubduedText">
        {{ finder.hitCount }} / {{ finder.hitCount }}
      </p>

      <div class="kuiButtonGroup">
        <button
          class="kuiButton kuiButton--basic"
          ng-if="onAddNew"
          ng-click="onAddNew()"
          data-test-subj="addNewSavedObjectLink"
        >
          新增 {{ finder.properties.noun }}
        </button>

        <button
          class="kuiButton kuiButton--basic"
          ng-if="!useLocalManagement"
          ng-click="finder.manageObjects(finder.properties.name)"
        >
          管理{{ finder.properties.nouns | translate}}
        </button>
      </div>
    </div>
  </div>
</form>

<paginate
  list="finder.hits"
  per-page="20"
  class="kuiVerticalRhythm"
  style="margin-top:0px;"
>
  <ul class="li-striped list-group list-group-menu" ng-class="{'select-mode': finder.selector.enabled}">
    <li class="list-group-item" ng-click="finder.sortHits(finder.hits)" style="padding-left:0px;">
      <span class="paginate-heading">
        名称
        <span
          class="fa"
          ng-class="finder.isAscending ? 'fa-caret-up' : 'fa-caret-down'">
        </span>
      </span>
    </li>
    <li
      class="list-group-item list-group-menu-item"
      ng-class="{'active': finder.selector.index === $index && finder.selector.enabled}"
      ng-repeat="hit in page"
      ng-keydown="finder.hitKeyDown($event, page, paginate)"
      ng-click="finder.onChoose(hit, $event)">

      <a ng-href="{{finder.makeUrl(hit)}}"
          ng-blur="finder.hitBlur($event)"
          ng-click="finder.preventClick($event)">
          <span aria-hidden="true" class="finder-type fa" ng-if="hit.icon" ng-class="hit.icon"></span>
          <span>{{hit.title}}</span>
          <p ng-if="hit.description" ng-bind="hit.description"></p>
      </a>
    </li>
    <li
      class="list-group-item list-group-no-results"
      ng-if="finder.hits.length === 0">
      <p>没有找到满足条件的{{finder.properties.nouns|translate}}</p>
    </li>
  </ul>
</paginate>
