<!-- Local nav. -->
<kbn-top-nav name="visualize">
  <!-- Transcluded elements. -->
  <div data-transclude-slots>
    <div class="page-header" data-transclude-slot="topLeftCorner" style="padding-left:15px;margin-top:20px;border-color:#ddd;padding-bottom:3px;width:100%;">
        <h4 style="margin-bottom:3px;">{{'Visualize' | translate}} <small>大数据可视化引擎</small></h4>
    </div>

    <div data-transclude-slot="bottomRow">
        <p class="text-muted" style="font-size:12px;margin-left:8px;margin-top:10px;">通过选择指标与分组，您可以创建块状图、热区图、柱图、饼状图、地理信息图、时间轴、标注等13种可视化组件，而且不需要任何编程基础，即可轻松创建漂亮的可视化组件。</p>
    </div>
  </div>
</kbn-top-nav>
<div class="kuiViewContent kuiViewContent--constrainedWidth">
  <!-- ControlledTable -->
  <div class="kuiViewContentItem kuiControlledTable kuiVerticalRhythm">
    <!-- ToolBar -->
    <div class="kuiToolBar">

      <div class="kuiToolBarSection">
        <!-- Bulk delete button -->
        <button
          class="btn btn-danger"
          aria-label="Delete selected objects"
          ng-if="listingController.getSelectedItemsCount() > 0"
          ng-click="listingController.deleteSelectedItems()"
          tooltip="删除图表"
          tooltip-append-to-body="true"
        >
          <span aria-hidden="true" class="kuiButton__icon kuiIcon fa-trash"></span>
          删除
        </button>

        <!-- Create visualization button -->
        <a
          class="btn btn-primary"
          href="#/visualize/new"
          aria-label="Create new visualization"
          ng-if="listingController.getSelectedItemsCount() === 0"
          tooltip="新增图表"
          tooltip-append-to-body="true"
        >
          <span aria-hidden="true" class="kuiButton__icon kuiIcon fa-plus"></span>
          新增
        </a>
      </div>

      <div class="kuiToolBarSearch">
        <div class="kuiToolBarSearchBox">
          <div class="kuiToolBarSearchBox__icon kuiIcon fa-search"></div>
          <input
            class="kuiToolBarSearchBox__input"
            type="text"
            placeholder="图表名称..."
            aria-label="Filter"
            ng-model="listingController.filter">
        </div>
      </div>

      <!-- Pagination -->
      <!--
      <div class="kuiToolBarSection">

        <tool-bar-pager-text
          start-item="listingController.pager.startItem"
          end-item="listingController.pager.endItem"
          total-items="listingController.pager.totalItems"
        ></tool-bar-pager-text>
        <tool-bar-pager-buttons
          has-previous-page="listingController.pager.hasPreviousPage"
          has-next-page="listingController.pager.hasNextPage"
          on-page-next="listingController.onPageNext"
          on-page-previous="listingController.onPagePrevious"
        ></tool-bar-pager-buttons>
      </div>
      -->
    </div>

    <!-- NoItems -->
    <div
      class="kuiPanel kuiPanel--centered kuiPanel--withHeader"
      ng-if="!listingController.items.length && listingController.filter"
    >
      <div class="kuiNoItems">
      没有找到相关的图表
      </div>
    </div>

    <!-- PromptForItems -->
    <div
      class="kuiPanel kuiPanel--centered kuiPanel--withHeader"
      ng-if="!listingController.isFetchingItems && !listingController.items.length && !listingController.filter"
    >
      <div class="kuiPromptForItems">
        <div class="kuiPromptForItems__message">
          您还没有创建图表，不妨试一试!
        </div>

        <div class="kuiPromptForItems__actions">
          <a
            class="kuiButton kuiButton--primary kuiButton--iconText"
            href="#/visualize/new"
          >
            <span class="kuiButton__inner">
              <span class="kuiButton__icon kuiIcon fa-plus"></span>
              <span>创建图表</span>
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Table -->
    <table class="kuiTable" ng-if="listingController.items.length">
      <thead>
        <tr>
          <th class="kuiTableHeaderCell kuiTableHeaderCell--checkBox">
            <input
              type="checkbox"
              class="kuiCheckBox"
              ng-checked="listingController.areAllItemsChecked()"
              ng-click="listingController.toggleAll()"
            >
          </th>

          <th
            class="kuiTableHeaderCell"
            ng-click="listingController.sortOn('title')"
          >
            图表名称
            <span
              class="kuiIcon"
              ng-show="listingController.getSortProperty().name === 'title'"
              ng-class="listingController.isAscending() ? 'fa-caret-up' : 'fa-caret-down'"
            ></span>
          </th>

          <th
            class="kuiTableHeaderCell"
            ng-click="listingController.sortOn('type')"
          >
            图表类型
            <span
              class="kuiIcon"
              ng-show="listingController.getSortProperty().name === 'type'"
              ng-class="listingController.isAscending() ? 'fa-caret-up' : 'fa-caret-down'"
            ></span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          ng-repeat="item in listingController.pageOfItems track by item.id"
          class="kuiTableRow"
        >
          <td class="kuiTableRowCell kuiTableRowCell--checkBox">
            <div class="kuiTableRowCell__liner">
              <input
                type="checkbox"
                class="kuiCheckBox"
                ng-click="listingController.toggleItem(item)"
                ng-checked="listingController.isItemChecked(item)"
              >
            </div>
          </td>

          <td class="kuiTableRowCell">
            <div class="kuiTableRowCell__liner">
              <a class="kuiLink" ng-href="{{ listingController.getUrlForItem(item) }}">
                {{ item.title }}
              </a>
            </div>
          </td>

          <td class="kuiTableRowCell">
            <div class="kuiTableRowCell__liner">
              <span class="kuiStatusText">
                <img
                  class="kuiStatusText__icon kuiIcon"
                  ng-if="item.type.image"
                  aria-hidden="true"
                  ng-src="{{ item.type.image }}"
                />

                <!-- If there's no image, default to an icon, for BWC. -->
                <span
                  class="kuiStatusText__icon kuiIcon {{ item.icon }}"
                  ng-if="!item.type.image"
                ></span>

                {{ item.type.title | translate}}
              </span>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

    <!-- ToolBarFooter -->
    <div class="kuiToolBarFooter">
      <div class="kuiToolBarFooterSection">
        <div class="kuiToolBarText" ng-hide="listingController.getSelectedItemsCount() === 0">
          您选中了{{ listingController.getSelectedItemsCount() }}项记录
        </div>
      </div>

      <div class="kuiToolBarFooterSection">
        <!-- Pagination -->
        <tool-bar-pager-text
          start-item="listingController.pager.startItem"
          end-item="listingController.pager.endItem"
          total-items="listingController.pager.totalItems"
        ></tool-bar-pager-text>
        <tool-bar-pager-buttons
          has-previous-page="listingController.pager.hasPreviousPage"
          has-next-page="listingController.pager.hasNextPage"
          on-page-next="listingController.onPageNext"
          on-page-previous="listingController.onPagePrevious"
        ></tool-bar-pager-buttons>
      </div>
    </div>
  </div>
</div>
