<div class="app-container">
  <!-- Local nav. -->
  <kbn-top-nav name="management-subnav" data-test-subj="managementNav">
    <div data-transclude-slots>

      <div class="page-header" data-transclude-slot="topLeftCorner" style="padding-left:15px;margin-top:20px;border-color:#ddd;padding-bottom:3px;width:100%;">
          <h4 style="margin-bottom:3px;"><a href="#/management">{{'Management' | translate}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <small>大数据引擎系统管理及配置</small></h4>
      </div>

    <div data-transclude-slot="bottomRow" class="kuiLocalTabs">
        <!--
        <span ng-if="!sectionName" class="kuiLocalTab">
          {{::section.display | translate}}
        </span>
        -->
        <div style="font-size:12px;margin-left:8px;">
          <p class="text-muted" ng-if="!sectionName" style="margin-bottom:5px;">在这里，您可以设置、更改、删除您关注的索引模式，并能对仪表盘、可视化、查询结果的存储记录进行管理。</p>
        </div>
        <a
          ng-if="sectionName"
          ng-repeat="item in section.visibleItems"
          class="kuiLocalTab"
          ng-class="{ 'kuiLocalTab-isSelected': item.active, 'kuiLocalTab-isDisabled': !item.active && (item.disabled || !item.url) }"
          kbn-href="{{::item.disabled ? '' : item.url}}"
          data-test-subj="{{::item.name}}"
          tooltip="{{::item.tooltip}}"
          tooltip-placement="bottom"
          tooltip-popup-delay="400"
          tooltip-append-to-body="1"
        >
          {{::item.display | translate}}
        </a>
      </div>
      <!--
      <div data-transclude-slot="bottomRow">
          <p class="text-muted" style="font-size:12px;margin-left:8px;margin-top:10px;">在这里，您可以设置、更改、删除您关注的索引模式，并能对仪表盘、可视化、查询结果的存储记录进行管理。</p>
      </div>
      -->
    </div>
  </kbn-top-nav>

  <div role="main" class="management-container" ng-transclude></div>
</div>
