<kbn-management-app>
  <kbn-management-landing>
    <!-- General info -->
    <!--
    <div class="page-row">
      <div class="page-row-text">Version: {{::kbnVersion}}</div>
    </div>
    -->

    <!-- Management sections for the ES stack -->
    <div
      ng-if="section.visibleItems.length > 0"
      ng-repeat="section in sections"
      ng-class="{ 'management-section-info-expanded': section.showInfo }"
      class="page-row"
    >
      <div class="panel panel-primary">
        <div class="panel-heading">
            <!--
            <div class="management-panel__heading-icon management-panel__heading-icon--{{::section.id}}"></div>
          -->
            <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
            <span style="font-size:16px;">{{::section.display | translate}}</span>
          </div>

          <!--
          <div class="kuiPanelHeaderSection" ng-if="section.info">
            <div class="kuiText">
              <span
                class="fa fa-info-circle management-panel__heading-icon--secondary"
                ng-click="section.showInfo = !!!section.showInfo"
              ></span>
            </div>
          </div>
          -->
        <ul class="list-group">
           <li class="list-group-item" ng-repeat="item in section.visibleItems">
             <a
               ng-class="{ 'management-panel__link--disabled': item.disabled || !item.url }"
               kbn-href="{{::item.disabled ? '' : item.url}}"
               tooltip="{{::item.tooltip}}"
               tooltip-placement="bottom"
               tooltip-popup-delay="400"
               tooltip-append-to-body="1">
               {{::item.display | translate}}
             </a>
           </li>
        </ul>

      </div>
    </div>
  </kbn-management-landing>
</kbn-management-app>
