<div>
  <div class="kuiSideBarCollapsibleTitle" style="margin-top:0px;margin-bottom:5px;padding-bottom:5px;">
    <div
      class="kuiSideBarCollapsibleTitle__label"
      ng-click="isGridOpen = !isGridOpen"
    >
      <span
        aria-hidden="true"
        ng-class="{ 'fa-caret-down': isGridOpen, 'fa-caret-right': !isGridOpen }"
        class="fa fa-caret-right kuiSideBarCollapsibleTitle__caret"
      ></span>
      <span class="kuiSideBarCollapsibleTitle__text">
        {{'Grid'|translate}}
      </span>
    </div>
  </div>

  <div ng-show="isGridOpen" class="kuiSideBarCollapsibleSection">
    <!-- General -->
    <div class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-3 control-label" for="showCategoryLines">
          {{'X-Axis Lines' | translate}}
        </label>
        <div class="col-sm-9">
          <div class="checkbox">
              <label>
                <input class="kuiCheckBox" id="showCategoryLines" type="checkbox" ng-model="vis.params.grid.categoryLines">
              </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" for="gridAxis">
        {{'Y-Axis Lines' | translate}}
        </label>
        <div class="col-sm-9">
          <select
            id="gridAxis"
            class="form-control"
            ng-model="vis.params.grid.valueAxis"
            ng-options="axis.id as axis.name for axis in vis.params.valueAxes">
            <option value="">隐藏</option>
          </select>
        </div>
      </div>

    </div>

  </div>
