<div class="kuiSideBarSection kuiSideBarSection__main" style="margin-bottom:10px;">

  <ul class="list-group">
      <li class="list-group-item list-group-item-info">指标配置</li>
      <li class="list-group-item" ng-repeat="chart in vis.params.seriesParams track by $index">
        <div
          ng-init="isSeriesOpen = ($index === 0)"
          class="kuiSideBarCollapsibleTitle__label"
          ng-click="isSeriesOpen = !isSeriesOpen">
          <span
            aria-hidden="true"
            ng-class="{ 'fa-caret-down': isSeriesOpen, 'fa-caret-right': !isSeriesOpen }"
            class="fa fa-caret-right kuiSideBarCollapsibleTitle__caret"
          ></span>
          <span class="kuiSideBarCollapsibleTitle__text">
            {{chart.data.label}}
          </span>
        </div>

          <div class="kuiSideBarSection form-horizontal" ng-show="isSeriesOpen" style="margin-top: 10px;">
              <div class="form-group">
                <label class="control-label col-sm-3" for="{{ 'seriesType' + $index }}">
                  图形类型
                </label>
                <div class="col-sm-9">
                  <select
                    id="{{ 'seriesType' + $index }}"
                    class="form-control"
                    ng-model="chart.type"
                    ng-options="mode.value as mode.text for mode in vis.type.params.chartTypes"
                  ></select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3" for="{{ 'seriesMode' + $index }}">
                  展示形态
                </label>
                <div class="col-sm-9">
                  <select
                    id="{{ 'seriesMode' + $index }}"
                    class="form-control"
                    ng-model="chart.mode"
                    ng-options="mode for mode in vis.type.params.chartModes"
                  ></select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3" for="{{ 'seriesValueAxis' + $index }}">
                  坐标轴
                </label>
                <div class="col-sm-9">
                  <select
                    id="{{ 'seriesValueAxis' + $index }}"
                    class="form-control"
                    ng-model="chart.valueAxis"
                    ng-change="changeValueAxis($index)"
                  >
                    <option ng-repeat="axis in vis.params.valueAxes track by axis.id" value="{{axis.id}}">{{axis.name}}</option>
                    <option value="new">新坐标轴</option>
                  </select>
                </div>
              </div>

              <div ng-show="chart.type == 'line' || chart.type == 'area'">
                <div class="form-group">
                  <label class="control-label col-sm-3" for="{{ 'lineMode' + $index }}">
                    折线形态
                  </label>
                  <div class="kuiSideBarFormRow__control">
                    <select
                      id="{{ 'lineMode' + $index }}"
                      class="form-control"
                      ng-model="chart.interpolate"
                      ng-options="mode.value as mode.text for mode in vis.type.params.interpolationModes"
                    >
                    </select>
                  </div>
                </div>
              </div>

              <div ng-show="chart.type == 'line'">
                <div class="form-group">
                  <label class="control-label col-sm-3" for="{{ 'drawLines' + $index }}">
                    显示折线
                  </label>
                  <div class="col-sm-9">
                    <input class="form-control" id="{{ 'drawLines' + $index }}" type="checkbox" ng-model="chart.drawLinesBetweenPoints">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-3" for="{{ 'showCircles' + $index }}">
                    显示圆点
                  </label>
                  <div class="col-sm-9">
                    <input class="form-control" id="{{ 'showCircles' + $index }}" type="checkbox" ng-model="chart.showCircles">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-3">
                    线的宽度
                  </label>
                  <div class="col-sm-9">
                    <input name="lineWidth"
                           class="form-control"
                           type="number"
                           step="0.5"
                           ng-model="chart.lineWidth"
                    >
                  </div>
                </div>
              </div>
        </div>
      </li>
  </ul>
</div>
