<form
  role="form"
  ng-submit="opts.saveDataSource()"
>
  <div class="kuiLocalDropdownTitle">保存搜索条件</div>
  <input
    class="kuiLocalDropdownInput"
    id="SaveSearch"
    ng-model="opts.savedSearch.title"
    input-focus="select"
    placeholder="Name this search..."
  >

  <saved-object-save-as-check-box saved-object="opts.savedSearch"></saved-object-save-as-check-box>
  <button ng-disabled="!opts.savedSearch.title" data-test-subj="discover-save-search-btn" type="submit" class="btn btn-primary">
    保存
  </button>
</form>
