<div class="form-group regex">
    <label class="col-sm-4 control-label" ng-click="showJsonHint = !showJsonHint">
      <span>JSON配置</span>
      <i class="fa fa-info-circle" title="这些JSON数据将用于配置格式化信息，并且会自动合并到分组查询中"></i>
      <!--
      <div class="hintbox" ng-show="showJsonHint">
        <p>这些JSON数据将用于配置格式化信息，并且会自动合并到分组查询中。</p>
      </div>
    -->
    </label>
    <div class="col-sm-8">
        <textarea
          type="text"
          class="form-control"
          ng-model="agg.params.json"
          validate-json></textarea>
    </div>
</div>
