<form
  role="form"
  ng-submit="opts.save()"
>
  <div class="kuiLocalDropdownTitle">{{'Save' | translate}}{{opts.displayName | translate}}</div>
  <div class="form-group">
    <input
      class="form-control"
      id="dashboardTitle"
      type="text"
      ng-model="model.title"
      placeholder="Dashboard title"
      input-focus="select"
    >
  </div>

  <saved-object-save-as-check-box saved-object="opts.dashboard"></saved-object-save-as-check-box>

  <div class="form-group">
    <div class="checkbox">
        <label style="padding-left:0px;">
          <input
            type="checkbox"
            ng-model="model.timeRestore"
            ng-checked="model.timeRestore"
            data-test-subj="storeTimeWithDashboard"
          >
          将{{opts.displayName | translate}}与时间关联
          &nbsp;&nbsp;
          <kbn-info placement="bottom" info="每次载入仪表盘时，都会采用选定的时间段"></kbn-info>
        </label>
    </div>
  </div>

  <button type="submit" ng-disabled="!model.title" class="btn btn-primary" aria-label="Save dashboard">
    {{'Save' | translate}}
  </button>
</form>
